//PRINCIPAL COLORS ------------------------------------
$primary-color: #fffffe;
$secundary-color: #d1d1e9;
$tiertiary-color: #e45858;
$quaternary-color: #2b2c34;

//EXTRA COLORS ------------------------------------



//FEEDBACK COLORS ------------------------------------
$buttonText: #fffffe;
$paragraphColor: #2b2c34;
$buttonColor: #6246ea;
$headerColor: #2b2c34;
$successColorDark: #00ca72;
